In [426]:
# import sys
# !{sys.executable} -m pip install lightfm
import random
import itertools

import pickle

import numpy as np
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
from scipy import sparse
import random
import lightfm
from lightfm import LightFM, cross_validation
from lightfm.evaluation import precision_at_k, auc_score
from sklearn.metrics.pairwise import cosine_similarity

from surprise import Dataset
from surprise import Reader
from surprise import SVDpp
from collections import defaultdict

In [427]:
v = 1
p = 0.1

In [428]:
# df_playlist = pd.read_csv('./data/spotify_dataset.csv', error_bad_lines=False, warn_bad_lines=False, skiprows=lambda i: i>0 and random.random() > p)
df_playlist = pd.read_csv('./data/spotify_dataset.csv', error_bad_lines=False, warn_bad_lines=False, skiprows=lambda i: i>0 and (i % v != 0))

In [429]:
df_playlist.shape

(12891680, 4)

In [430]:
df_playlist.head()

,user_id,"""artistname""","""trackname""","""playlistname"""
0,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,(The Angels Wanna Wear My) Red Shoes,HARD ROCK 2010
1,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,"(What's So Funny 'Bout) Peace, Love And Unders...",HARD ROCK 2010
2,9cc0cfd4d7d7885102480dd99e7a90d6,Tiffany Page,7 Years Too Late,HARD ROCK 2010
3,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,Accidents Will Happen,HARD ROCK 2010
4,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,Alison,HARD ROCK 2010

In [431]:
df_playlist.columns = df_playlist.columns.str.replace('"', '')
df_playlist.columns = df_playlist.columns.str.replace('name', '')
df_playlist.columns = df_playlist.columns.str.replace(' ', '')
df_playlist.columns
df_playlist.head()

,user_id,artist,track,playlist
0,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,(The Angels Wanna Wear My) Red Shoes,HARD ROCK 2010
1,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,"(What's So Funny 'Bout) Peace, Love And Unders...",HARD ROCK 2010
2,9cc0cfd4d7d7885102480dd99e7a90d6,Tiffany Page,7 Years Too Late,HARD ROCK 2010
3,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,Accidents Will Happen,HARD ROCK 2010
4,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,Alison,HARD ROCK 2010

In [432]:
# Adding test user and seeing what the output will be.
temp_user_id = '00000000000000000000000000000000'
temp_user_artists = [
    'Eminem', 'Kanye West', '50 Cent', 'Drake', 'Kendrick Lamar', 'Future', 
    'Lil Baby', 'Snoop Dogg', 'Post Malone', 'Lil Wayne', 'Kid Cudi']
temp_track_name = 'testtrackname'
temp_playlist_name = 'testplaylist'

new_rows = []
for i in range(5000):
    temp_artist = random.choice(temp_user_artists)
    new_row = {
        'user_id': temp_user_id,
        'artist': temp_artist,
        'track': temp_track_name,
        'playlist': temp_playlist_name
    }
    new_rows.append(new_row)

temp_df = pd.DataFrame(new_rows) 
df_playlist = pd.concat([df_playlist, temp_df], ignore_index = True)
df_last = df_playlist.tail(10)
df_last

df_playlist.loc[df_playlist['user_id'] == temp_user_id]

,user_id,artist,track,playlist
12891680,00000000000000000000000000000000,Eminem,testtrackname,testplaylist
12891681,00000000000000000000000000000000,Future,testtrackname,testplaylist
12891682,00000000000000000000000000000000,Future,testtrackname,testplaylist
12891683,00000000000000000000000000000000,Post Malone,testtrackname,testplaylist
12891684,00000000000000000000000000000000,Eminem,testtrackname,testplaylist
...,...,...,...,...
12896675,00000000000000000000000000000000,Post Malone,testtrackname,testplaylist
12896676,00000000000000000000000000000000,Lil Baby,testtrackname,testplaylist
12896677,00000000000000000000000000000000,Drake,testtrackname,testplaylist
12896678,00000000000000000000000000000000,Kendrick Lamar,testtrackname,testplaylist
12896679,00000000000000000000000000000000,50 Cent,testtrackname,testplaylist

In [433]:
# Keeping artists that appear with a minimum frequency. 
# Only keeping artists with high frequency than 50

In [434]:
df_playlist = df_playlist.groupby('artist').filter(lambda x : len(x) >= 50)
# df_playlist
df_playlist.loc[df_playlist['user_id'] == temp_user_id]

,user_id,artist,track,playlist
12891680,00000000000000000000000000000000,Eminem,testtrackname,testplaylist
12891681,00000000000000000000000000000000,Future,testtrackname,testplaylist
12891682,00000000000000000000000000000000,Future,testtrackname,testplaylist
12891683,00000000000000000000000000000000,Post Malone,testtrackname,testplaylist
12891684,00000000000000000000000000000000,Eminem,testtrackname,testplaylist
...,...,...,...,...
12896675,00000000000000000000000000000000,Post Malone,testtrackname,testplaylist
12896676,00000000000000000000000000000000,Lil Baby,testtrackname,testplaylist
12896677,00000000000000000000000000000000,Drake,testtrackname,testplaylist
12896678,00000000000000000000000000000000,Kendrick Lamar,testtrackname,testplaylist
12896679,00000000000000000000000000000000,50 Cent,testtrackname,testplaylist

In [435]:
# Keeping users with at least 10 unique artists in their playlists to lessen
# the impact of COLD START PROBLEM

In [436]:
df_playlist = df_playlist[df_playlist.groupby('user_id').artist.transform('nunique') >= 10]
df_playlist.loc[df_playlist['user_id'] == temp_user_id]

,user_id,artist,track,playlist
12891680,00000000000000000000000000000000,Eminem,testtrackname,testplaylist
12891681,00000000000000000000000000000000,Future,testtrackname,testplaylist
12891682,00000000000000000000000000000000,Future,testtrackname,testplaylist
12891683,00000000000000000000000000000000,Post Malone,testtrackname,testplaylist
12891684,00000000000000000000000000000000,Eminem,testtrackname,testplaylist
...,...,...,...,...
12896675,00000000000000000000000000000000,Post Malone,testtrackname,testplaylist
12896676,00000000000000000000000000000000,Lil Baby,testtrackname,testplaylist
12896677,00000000000000000000000000000000,Drake,testtrackname,testplaylist
12896678,00000000000000000000000000000000,Kendrick Lamar,testtrackname,testplaylist
12896679,00000000000000000000000000000000,50 Cent,testtrackname,testplaylist

In [437]:
# Grouping by the frequency count for each users artists (# of times that an
# artist appeared in playlists created by a user)

In [438]:
size = lambda x : len(x)
df_freq = df_playlist.groupby(['user_id', 'artist']).agg('size').reset_index().rename(columns={0:'freq'})[['user_id', 'artist', 'freq']].sort_values(['freq'], ascending=False)
df_freq.head()

df_freq.loc[df_freq['user_id'] == temp_user_id]

                             user_id          artist  freq
9   00000000000000000000000000000000     Post Malone   487
0   00000000000000000000000000000000         50 Cent   483
10  00000000000000000000000000000000      Snoop Dogg   475
7   00000000000000000000000000000000        Lil Baby   467
6   00000000000000000000000000000000        Kid Cudi   460
2   00000000000000000000000000000000          Eminem   456
8   00000000000000000000000000000000       Lil Wayne   448
3   00000000000000000000000000000000          Future   443
5   00000000000000000000000000000000  Kendrick Lamar   438
1   00000000000000000000000000000000           Drake   427
4   00000000000000000000000000000000      Kanye West   416

In [439]:
# Creating a data frame for artists and artist id
# Artist to artist id mapping

In [440]:
df_artist = pd.DataFrame(df_freq['artist'].unique())
df_artist = df_artist.reset_index()
df_artist = df_artist.rename(columns={'index':'artist_id', 0:'artist'})
df_artist.head()

   artist_id                   artist
0          0   Vitamin String Quartet
1          1          Lata Mangeshkar
2          2              Ilaiyaraaja
3          3                Peggy Lee
4          4  Wolfgang Amadeus Mozart

In [441]:
df_artist.shape

(23517, 2)

In [442]:
# Adding artist_id to the frequence data frame
df_freq = pd.merge(df_freq, df_artist, how='inner', on='artist')

In [443]:
#########
# Using the lightfm library to run a traditional MF (matrix factorization) model
# since the dataset doesn't include any user or artist features
# the library allows builing of a hybrid model as well. (CF AND CBF?)
# examples: https://github.com/lyst/lightfm/blob/master/examples/

In [444]:
## Parameter Tuning
def sample_hyperparameters():
    """
    Yield possible hyperparameter choices.
    """

    while True:
        yield {
            "no_components": np.random.randint(16, 64),
            "learning_schedule": np.random.choice(["adagrad", "adadelta"]),
            "loss": np.random.choice(["bpr", "warp", "warp-kos"]),
            "learning_rate": np.random.exponential(0.05),
            "item_alpha": np.random.exponential(1e-8),
            "user_alpha": np.random.exponential(1e-8),
            "max_sampled": np.random.randint(5, 15),
            "num_epochs": np.random.randint(5, 50),
        }

In [445]:
# Don't know what the
# Creating an interaction matrix df from transactional type interactions
def create_interaction_matrix(df, user_col, item_col, rating_col, norm=False, threshold=None):
    interactions = df.groupby([user_col, item_col])[rating_col].sum().unstack().reset_index().fillna(0).set_index(user_col)
    if norm:
        interactions = interactions.applymap(lambda x: 1 if x > threshold else 0)
    return interactions

In [446]:
# Function to create a user dictionary based on their index and number in
# interaction dataset
def create_user_dict(interactions):
    user_id = list(interactions.index)
    user_dict = {}
    counter = 0 
    for i in user_id:
        user_dict[i] = counter
        counter += 1
    return user_dict

In [447]:
# Function to create an item dictionary based on their item_id and item name
def create_item_dict(df, id_col, name_col):
    item_dict = {}
    for i in range(df.shape[0]):
        item_dict[(df.loc[i,id_col])] = df.loc[i, name_col]
    return item_dict

In [448]:
# Runs the matrix factorization algorithm and returns the trained model
# Original runMF
# def runMF(interactions, n_components=30, loss='warp', k=15, epoch=30, n_jobs = 4):
# #     x = sparse.csr_matrix(interactions.values)
#     model = LightFM(no_components = n_components, loss=loss, k=k)
#     model.fit(interactions, epochs=epoch, num_threads = n_jobs)
#     return model

def runMF(interactions, n_components, loss, ls, learning_rate, item_alpha, user_alpha, max_sampled, k, epoch, n_jobs = 4):
#     x = sparse.csr_matrix(interactions.values)
    model = LightFM(no_components=n_components, loss=loss, learning_schedule=ls, learning_rate=learning_rate, item_alpha=item_alpha, user_alpha=user_alpha, max_sampled=max_sampled, k=k)
    model.fit(interactions, epochs=epoch, num_threads = n_jobs)
    return model

In [449]:
# Parameter Tuning
def random_search(train, test, num_samples=500, num_threads=4):
    for hyperparams in itertools.islice(sample_hyperparameters(), num_samples):
        num_epochs = hyperparams.pop("num_epochs")
        
        model = LightFM(**hyperparams)
        model.fit(train, epochs=num_epochs, num_threads=num_threads)
        
        test_auc = auc_score(model, test, train_interactions=train, num_threads=num_threads).mean()
        train_auc = auc_score(model, train, num_threads=num_threads).mean()
        print(f'{test_auc} {train_auc}')
        
        hyperparams["num_epochs"] = num_epochs
        
        yield (test_auc, train_auc, hyperparams, model)

In [450]:
# Produces user recommendations, prints the list of items the user already 
# prefers, prints the list of N recommended items which user will hopefully 
# prefer.
def sample_recommendation_user(model, interactions, user_id, user_dict, item_dict, threshold = 0, nrec_items = 10, show = True):
    n_users, n_items = interactions.shape # indices
    user_x = user_dict[user_id] # getting the specific user
    scores = pd.Series(model.predict(user_x, np.arange(n_items))) # model prediction
    scores.index = interactions.columns
    scores = list(pd.Series(scores.sort_values(ascending=False).index))
    
    known_items = list(pd.Series(interactions.loc[user_id,:]
                                 [interactions.loc[user_id,:] > threshold].index).sort_values(ascending=False))
    
    scores = [x for x in scores if x not in known_items]
    return_score_list = scores[0:nrec_items]
    known_items = list(pd.Series(known_items).apply(lambda x: item_dict[x]))
    scores = list(pd.Series(return_score_list).apply(lambda x: item_dict[x]))
    if show == True:
        print("Known Likes:")
        counter = 1
        for i in known_items:
            print(str(counter) + '- ' + i)
            counter+=1

        print("\n Recommended Items:")
        counter = 1
        for i in scores:
            print(str(counter) + '- ' + i)
            counter+=1
    return return_score_list

In [451]:
# Prepping the model inputs

In [452]:
# Create interaction matrix
interactions = create_interaction_matrix(df=df_freq, user_col="user_id", item_col="artist_id", rating_col='freq', norm=False, threshold=None)
interactions.head()

artist_id,0,1,2,3,4,5,6,7,8,9,...,23507,23508,23509,23510,23511,23512,23513,23514,23515,23516
user_id,,,,,,,,,,,,,,,,,,,,,
00000000000000000000000000000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
00055176fea33f6e027cd3302289378b,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0007f3dd09c91198371454c608d47f22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
000b0f32b5739f052b9d40fcc5c41079,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
000c11a16c89aa4b14b328080f5954ee,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [453]:
## NEW
# Prep the data for surprise. 
# surprise_df = df_freq.copy(deep=True)
# for index, row in surprise_df.iterrows():
#     if row['freq'] > 200:
#         surprise_df.at[index, 'freq'] = 200

In [454]:
# surprise_df.head()

In [455]:
# def get_top_n(user_id, predictions, n=10):
#     """Return the top-N recommendation for each user from a set of predictions.

#     Args:
#         predictions(list of Prediction objects): The list of predictions, as
#             returned by the test method of an algorithm.
#         n(int): The number of recommendation to output for each user. Default
#             is 10.

#     Returns:
#     A dict where keys are user (raw) ids and values are lists of tuples:
#         [(raw item id, rating estimation), ...] of size n.
#     """

#     # First map the predictions to each user.
#     top_n = defaultdict(list)
#     for uid, iid, true_r, est, _ in predictions:
#         top_n[user_id].append((iid, est))

#     # Then sort the predictions for each user and retrieve the k highest ones.
#     for uid, user_ratings in top_n.items():
#         user_ratings.sort(key=lambda x: x[1], reverse=True)
#         top_n[uid] = user_ratings[:n]

#     return top_n

In [456]:
# reader = Reader(rating_scale=(0,200))
# data = Dataset.load_from_df(surprise_df[["user_id", "artist_id", "freq"]], reader)
# trainingSet = data.build_full_trainset()

# algo = SVD()
# algo.fit(trainingSet)

# # Than predict ratings for all pairs (u, i) that are NOT in the training set.
# testset = trainingSet.build_anti_testset()
# predictions = algo.test(testset)

In [457]:
# top_n = get_top_n(predictions, n=10)

# # Print the recommended items for each user

# for uid, user_ratings in top_n.items():
#     print(uid, [iid for (iid, _) in user_ratings])

In [458]:
# artists_dict = create_item_dict(df=df_artist, id_col="artist_id", name_col="artist")
# artists_dict

## NEW END

In [459]:
interactions.shape

(13666, 23517)

In [460]:
# temp

In [461]:
# Create user dict
user_dict = create_user_dict(interactions=interactions)

In [462]:
# Create item dict
artists_dict = create_item_dict(df=df_artist, id_col="artist_id", name_col="artist")

In [463]:
# Train-test split
x = sparse.csr_matrix(interactions.values)
train, test = lightfm.cross_validation.random_train_test_split(x, test_percentage=0.2, random_state=None)

In [464]:
# How does a matrix factorization model work?
# https://developers.google.com/machine-learning/recommendation/collaborative/matrix

In [465]:
# Train the matrix factorization model
# Can do hyper-parameter tuning for better results
# %time
# Original model
# model = runMF(interactions = train, n_components=30, loss='warp', k=15, epoch=30, n_jobs=4)

# Model with hyper tuned params
# Params: {
#     'no_components': 59, 
#     'learning_schedule': 'adagrad',
#     'loss': 'warp', 
#     'learning_rate': 0.03366888807224179, 
#     'item_alpha': 3.0678838066972434e-08, 
#     'user_alpha': 4.7933357847505985e-09, 
#     'max_sampled': 7, 
#     'num_epochs': 26
# }
model = runMF(interactions = train, n_components=30, loss='warp', ls='adagrad', learning_rate=0.03366888807224179, item_alpha=3.0678838066972434e-08, user_alpha=4.7933357847505985e-09, max_sampled=7, k=15, epoch=26, n_jobs=4)

# file = open('cf_model.pickle', 'rb')
# model = pickle.load(file)
# file.close()

In [466]:
# ## New Code
# (test_auc, train_auc, hyperparams, model) = max(random_search(train, test, num_threads=4), key=lambda x: x[0])

# print("Best Test AUC Score: {}\nTrain AUC Score: {}\nParams: {}".format(test_auc, train_auc, hyperparams))

# ## End New Code

In [467]:
# Evaluation metrics
# Compute AUC score for train set
# Original
train_auc = auc_score(model, train, num_threads=4).mean()
print('Train AUC: %s' % train_auc)

Train AUC: 0.9637437

In [468]:
# Compute AUC score test set
# the parameter train_interactions allows you to exlude known positives in
# training set from the predictions and score calculations
# this is to avoid re-recommending the items the user has already interacted with
# Original
test_auc = auc_score(model, test, train_interactions=train, num_threads=4).mean()
print('Test AUC: %s' % test_auc)

Test AUC: 0.9515626

In [469]:
train_precision = precision_at_k(model, train, k=10).mean()
test_precision = precision_at_k(model, test, k=10, train_interactions=train).mean()

In [470]:
print('train Precision %.2f, test Precision %.2f.' % (train_precision, test_precision))

train Precision 0.43, test Precision 0.22.

In [471]:
random_cell = interactions.sample()
random_user_id = random_cell.index[0]

rec_list = sample_recommendation_user(model = model, 
                                      interactions = interactions, 
                                      user_id = temp_user_id, 
                                      user_dict = user_dict,
                                      item_dict = artists_dict, 
                                      threshold = 0,
                                      nrec_items = 10,
                                      show = True)

Known Likes:
1- Kanye West
2- Drake
3- Kendrick Lamar
4- Future
5- Eminem
6- Kid Cudi
7- Lil Baby
8- 50 Cent
9- Post Malone
10- Snoop Dogg
11- Lil Wayne

 Recommended Items:
1- Big Sean
2- Usher
3- Chris Brown
4- T.I.
5- A$AP Rocky
6- J. Cole
7- 2 Chainz
8- JAY Z
9- Trey Songz
10- French Montana

In [472]:
# print(type(test_auc))

In [473]:
## Trying to export model


with open('cf_model.pickle', 'wb') as file:
    pickle.dump(model, file)

## END export

In [474]:
## Load model get prediction

file = open('cf_model.pickle', 'rb')
pickled_model = pickle.load(file)
file.close()

rec_list = sample_recommendation_user(model = pickled_model, 
                                      interactions = interactions, 
                                      user_id = temp_user_id, 
                                      user_dict = user_dict,
                                      item_dict = artists_dict, 
                                      threshold = 0,
                                      nrec_items = 10,
                                      show = True)

Known Likes:
1- Kanye West
2- Drake
3- Kendrick Lamar
4- Future
5- Eminem
6- Kid Cudi
7- Lil Baby
8- 50 Cent
9- Post Malone
10- Snoop Dogg
11- Lil Wayne

 Recommended Items:
1- Big Sean
2- Usher
3- Chris Brown
4- T.I.
5- A$AP Rocky
6- J. Cole
7- 2 Chainz
8- JAY Z
9- Trey Songz
10- French Montana